# -*- coding: utf-8 -*-
#
# Copyright (C) 2018 CERN.
#
# Asclepias Broker is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

include .dockerignore
include .editorconfig
include .tx/config
include *.rst
include *.sh
include *.txt
include *.yml
include docker/haproxy/Dockerfile
include docker/nginx/Dockerfile
include docker/postgres/Dockerfile
include Dockerfile
include LICENSE
include pytest.ini
include scripts/bootstrap
include scripts/console
include scripts/server
include scripts/setup
include scripts/update
prune docs/_build
recursive-include asclepias_broker *.html
recursive-include asclepias_broker *.json
recursive-include asclepias_broker *.po *.pot *.mo
recursive-include docker *.cfg
recursive-include docker *.conf
recursive-include docker *.crt
recursive-include docker *.ini
recursive-include docker *.key
recursive-include docker *.pem
recursive-include docker *.sh
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-include examples *.json
recursive-include examples *.py
recursive-include examples *.sh
recursive-include tests *.json
recursive-include tests *.py
