[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
invenio = {version = "*",extras = ["elasticsearch6", "postgresql"]}
invenio-accounts = "*"
invenio-oauth2server = "*"
invenio-records-rest = "*"
invenio-queues = "==1.0.0a1"
invenio-logging = "*"
idutils = "*"
jsonschema = "*"
marshmallow = "*"
uwsgi = "*"
uwsgi-tools = "*"
uwsgitop = "*"
requests = "*"
raven = {version = "*",extras = ["flask"]}

[dev-packages]
sphinx = "*"
check-manifest = "*"
coverage = "*"
isort = "*"
mock = "*"
pydocstyle = "*"
pytest-cov = "*"
pytest-invenio = "*"
pytest-mock = "*"
pytest-random-order = "*"
pytest = "*"
pytest-runner = "*"
"flake8" = "*"
pytest-pycodestyle = "*"
sphinx-click = "*"
sphinx-autodoc-typehints = "*"
sphinxcontrib-httpdomain = "*"
sphinxcontrib-httpexample = "*"

[requires]
python_version = "3.6"

[scripts]
test = "python setup.py test"
build_sphinx = "python setup.py build_sphinx"
