[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "<4.3"
idutils = "*"
invenio = {version = ">=3.1.0,<3.2.0",extras = ["elasticsearch6", "postgresql"]}
invenio-accounts = ">=1.1.1,<1.2.0"
invenio-indexer = ">=1.0.1,<1.1.0"
invenio-logging = ">=1.1.0,<1.2.0"
invenio-oauth2server = ">=1.0.3,<1.1.0"
invenio-queues = "==1.0.0a1"
invenio-records-rest = ">=1.4.0,<1.5.0"
invenio-rest = ">=1.0.0,<1.1.0"
jsonschema = "*"
marshmallow = ">=2.0.0,<3.0.0"
raven = {version = "*",extras = ["flask"]}
requests = "*"
uwsgi = "*"
uwsgi-tools = "*"
uwsgitop = "*"

[dev-packages]
check-manifest = "*"
coverage = "*"
flake8 = "*"
isort = "*"
mock = "*"
pydocstyle = "*"
pytest = "*"
pytest-cov = "*"
pytest-invenio = "*"
pytest-mock = "*"
pytest-pycodestyle = "*"
pytest-random-order = "*"
pytest-runner = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
sphinx-click = "*"
sphinxcontrib-httpdomain = "*"
sphinxcontrib-httpexample = "*"

[requires]
python_version = "3.6"

[scripts]
test = "python setup.py test"
build_sphinx = "python setup.py build_sphinx"
