# Until https://github.com/readthedocs/readthedocs.org/issues/3181 is closed,
# generate this file using:
#     pipenv run pip freeze > rtd-requirements.txt
#     echo '-e .' >> rtd-requirements.txt
alabaster==0.7.12
alembic==1.0.11
amqp==2.5.0
arxiv==0.5.1
arrow==0.14.2
asn1crypto==0.24.0
astunparse==1.6.2
atomicwrites==1.3.0
attrs==19.1.0
autosemver==0.5.3
Babel==2.7.0
backcall==0.1.0
billiard==3.6.0.0
binaryornot==0.4.4
bleach==3.1.0
blinker==1.4
celery==4.3.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
check-manifest==0.39
Click==7.0
cookiecutter==1.6.0
coverage==4.5.3
cryptography==2.7
decorator==4.4.0
docutils==0.14
dulwich==0.19.11
elasticsearch==6.4.0
elasticsearch-dsl==6.1.0
entrypoints==0.3
flake8==3.7.8
Flask==1.1.1
Flask-Admin==1.5.3
Flask-Alembic==2.0.1
Flask-BabelEx==0.9.3
Flask-Breadcrumbs==0.4.0
Flask-Caching==1.7.2
Flask-CeleryExt==0.3.2
Flask-Cors==3.0.8
Flask-KVSession==0.6.2
Flask-Limiter==1.0.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Menu==0.7.0
Flask-OAuthlib==0.9.5
Flask-Principal==0.4.0
Flask-Security==3.0.0
flask-shell-ipython==0.4.1
Flask-SQLAlchemy==2.4.0
flask-talisman==0.5.0
flask-webpackext==1.0.0
Flask-WTF==0.14.2
ftfy==4.4.3
future==0.17.1
html5lib==1.0.1
idna==2.7
IDUtils==1.1.2
imagesize==1.1.0
importlib-metadata==0.18
infinity==1.4
intervals==0.8.1
invenio==3.1.1
invenio-accounts==1.1.1
invenio-app==1.1.1
invenio-base==1.0.2
invenio-cache==1.0.0
invenio-celery==1.0.1
invenio-config==1.0.1
invenio-db==1.0.3
invenio-i18n==1.1.1
invenio-indexer==1.0.2
invenio-logging==1.1.1
invenio-oauth2server==1.0.3
invenio-pidstore==1.0.0
invenio-queues==1.0.0a1
invenio-records==1.2.2
invenio-records-rest==1.4.2
invenio-rest==1.0.0
invenio-search==1.1.1
ipaddress==1.0.22
ipython==7.6.1
ipython-genutils==0.2.0
isbnid-fork==0.5.2
isort==4.3.21
itsdangerous==1.1.0
jedi==0.14.1
Jinja2==2.10.1
jinja2-time==0.2.0
jsonpatch==1.23
jsonpointer==2.0
jsonref==0.2
jsonresolver==0.2.1
jsonschema==3.0.1
kombu==4.6.3
limits==1.3
Mako==1.0.13
MarkupSafe==1.1.1
marshmallow==2.19.5
maxminddb==1.4.1
maxminddb-geolite2==2018.703
mccabe==0.6.1
mock==3.0.5
more-itertools==7.1.0
msgpack-python==0.5.6
node-semver==0.6.1
oauthlib==2.1.0
packaging==19.0
parso==0.5.1
passlib==1.7.1
pbr==5.4.0
pexpect==4.7.0
pickleshare==0.7.5
pluggy==0.12.0
poyo==0.4.2
prompt-toolkit==2.0.9
psycopg2-binary==2.8.3
ptyprocess==0.6.0
py==1.8.0
pycodestyle==2.5.0
pycparser==2.19
pydocstyle==4.0.0
pyflakes==2.1.1
Pygments==2.4.2
PyJWT==1.7.1
pynpm==0.1.1
pyparsing==2.4.0
pyrsistent==0.15.3
pytest==5.0.1
pytest-cov==2.7.1
pytest-flask==0.15.0
pytest-invenio==1.1.1
pytest-mock==1.10.4
pytest-pycodestyle==1.4.0
pytest-random-order==1.0.4
pytest-runner==5.1
python-dateutil==2.8.0
python-editor==1.0.4
pytz==2019.1
pywebpack==1.0.0
raven==6.10.0
redis==3.2.1
requests==2.22.0
requests-oauthlib==1.1.0
selenium==3.141.0
simplekv==0.12.0
six==1.12.0
snowballstemmer==1.9.0
speaklater==1.3
Sphinx==2.1.2
sphinx-autodoc-typehints==1.6.0
sphinx-click==2.2.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-httpdomain==1.7.0
sphinxcontrib-httpexample==0.10.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
SQLAlchemy==1.3.5
SQLAlchemy-Continuum==1.3.4
SQLAlchemy-Utils==0.34.1
toml==0.10.0
traitlets==4.3.2
ua-parser==0.8.0
urllib3==1.24.3
uWSGI==2.0.18
uwsgi-tools==1.1.1
uwsgitop==0.11
validators==0.13.0
vine==1.3.0
wcwidth==0.1.7
webargs==5.3.2
webencodings==0.5.1
Werkzeug==0.15.4
whichcraft==0.6.0
WTForms==2.2.1
WTForms-Alchemy==0.16.9
WTForms-Components==0.10.4
zipp==0.5.2
-e .
